$icons: (
	"arrow-left" 1em 0.7em,
	"arrow-right" 1em 0.7em,
	"cloud" 1em 0.7em,
	"cloud-upload" 1em 0.7em,
	"chevron-left" 0.45em 0.8em,
	"chevron-right" 0.45em 0.8em,
	"chevron-left-small" 0.3em 0.5em,
	"chevron-right-small" 0.3em 0.5em,
	"comment-author-avatar" 0.9em 0.9em,
	"help" 0.9em 0.9em,
	"info" 0.9em 0.9em,
	"download" 0.75em 0.8em,
	"external" 0.7em 0.7em,
	"external-arrow" 0.6em 0.6em,
	"lock-outline" 0.64em 0.9em,
	"login" 0.8em 0.8em,
	"next" 0.775em 0.75em,
	"previous" 0.775em 0.75em,
	"shuffle" 0.9em 0.9em,
	"wordpress" 0.9em 0.9em,
	"github" 0.9em 0.9em,
);

.wp-block-button[class*="has-icon__"] {

	.wp-block-button__link {
		display: flex;
		gap: 0.5em;
		align-items: center;

		span {
			line-height: 0;
		}

		svg {
			color: currentcolor;
			fill: currentcolor;
		}
	}

	@each $icon_name, $width, $height in $icons {
		&.has-icon__#{$icon_name} {

			svg {
				width: $width;
				height: $height;
			}
		}
	}
}
